<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Home Page!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/prediction">Prediction</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="{{ url_for('static', filename='advertise.png') }}" alt="Stock Prediction Graph">
    </main>
</body>
</html>
